<mat-card class="user-card">
    <mat-card-title-group>
        <mat-card-title id="name">{{user.name.first}} {{user.name.last}}</mat-card-title>
        <mat-card-subtitle id="gender">{{user.gender | titlecase}}</mat-card-subtitle>
        <mat-card-subtitle id="age">Age: {{user.dob.age}}</mat-card-subtitle>
        <mat-card-subtitle id="since">Since: {{user.registered.date | date}}</mat-card-subtitle>
        <img mat-card-md-image class="user-card__image" [src]="user.picture.medium">
    </mat-card-title-group>
    <mat-card-content class="user-card__content">
        <div id="location"><b>Location: </b>{{user.location.country}}, {{user.location.city}}, {{user.location.state}}</div>
        <div id="phone"><b>Phone: </b>{{user.cell}}</div>
        <div id="email"><b>Email: </b>{{user.email}}</div>
    </mat-card-content>
</mat-card>